.cont-other {
  width: fit-content;
  max-width: 400px;
  max-height: fit-content;
  border-radius: 10px;
  padding: 2px;
  height: fit-content;
  margin-bottom: 85px;
  justify-content: center;
  position: fixed;
  bottom: 25px;
  float: right;
  right: 5px;
}


.capture {
  position: fixed;
  float: center;
  justify-content: center;
}

.butt-other {
  display: inline-flex;
  background-color: #3D3D37;
  color: grey;
  border-radius: 5px;
  border: 1px solid grey;
  letter-spacing: 0px;
  font-family: Inter;
  opacity: 0.5;
  transition: 0.1s;
  text-transform: uppercase;
  margin: 2px;
  padding: 2px;
  position: relative;
  float: right;
}

#goenabled-o {
  cursor: default;
  margin-left: 2px;
}

#godisabled-o {
  cursor: not-allowed;
  pointer-events: none;
  color: #3D3D37;
  margin-left: 3px;
}


#enabled-o {
  cursor: default;
}

#disabled-o {
  cursor: not-allowed;
  pointer-events: none;
  color: #3D3D37;
}

.butt-other:hover {
  opacity: 0.8;
  background-color: #3D3D37;
}

.webcam-other {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 3px;
  position: fixed;
  right: 10px;
  bottom: 142px;
}