@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.form {
  text-align: center;
  clear: none;
}


.bye {
  display: inline-flex;
  background-color: #3D3D37;
  color: grey;
  border-radius: 5px;
  border: 1px solid grey;
  letter-spacing: 0px;
  font-family: Inter;
  opacity: 0.5;
  transition: 0.1s;
  text-transform: uppercase;
  bottom: 75px;
}

.bye:hover {
  opacity: 0.8;
  background-color: #3D3D30;
}

#no {
  border: solid grey 0.5px;
  color: white;
  background-color: #3D3D37;
  color: white;
  border-radius: 5px;
  font-family: Inter;
  bottom: 30px;
  position: absolute;
  right: calc(50vw + 100px);
}

.input {
  border: 1.5px solid #555;
  border-radius: 5px;
  -webkit-translation: 0.05s linear;
  transition: 0.05s linear;
  outline: none;
  margin-top: 25px;
  position: absolute;
  background-color: #3C3D37;
  color: white;
  bottom: 30px;
  right: calc(50vw - 90.8px);
}

.input:focus {
  border: 1.5px solid #ccc;
  border-radius: 5px;
}